@model ConeBrewing.Data.Models.Beer

<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200" alt="">
        </div>
    </li>
</ul>

<div class="row">
    <div class="span4">
        <dl class="dl-horizontal">
            <dt>ABV</dt><dd>7,8 %</dd>
            <dt>Type</dt><dd>IPA</dd>
        </dl>
    </div>
    <div class="span8">
        <h1>
            @Model.Name
            <small>sassy tagline</small>
        </h1>
        <p>
            @Model.Description
        </p>

        <h3>Recipe</h3>
        <div class="row">
            <div class="span4">
                <h3>Malts</h3>
                <ul>
                    <li>Malt 1</li>
                    <li>Malt 2</li>
                    <li>Malt 3</li>
                </ul>
            </div>
            <div class="span4">
                <h3>Hops</h3>
                <ul>
                    <li>Hop 1</li>
                    <li>Hop 2</li>
                    <li>Hop 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
