<div class="hero-unit">
    <h1>CONE Brewing</h1>
    <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
</div>

<div class="row">
    <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h3>The Brews</h3>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            @Html.ActionLink("View Details »", "Index", "Beer", null, new { @class="btn"})
        </p>
    </div>
    <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h3>The Brewery</h3>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h3>The Brewers</h3>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
