<div class="hero-unit hops">
    <h1>CONE Brewing</h1>
    <p>
        Homemade beers for the 21st century
    </p>
</div>

<div class="row">
    <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h3>The Brews</h3>
        <p>
            List of all beers made by CONE.
        </p>
        <p>
            @Html.ActionLink("View Details »", "Index", "Beer", null, new { @class="btn"})
        </p>
    </div>
    <div class="span4">
        <img src="http://placehold.it/300x200" alt="">
        <h3>The Brewery</h3>
        <p>
            Description of the equipment used to brew the beer.
        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <img src="~/Content/images/cone.jpg" />
        <h3>The Brewers</h3>
        <p>
            A quick introduction to the people behind the beers.
        </p>
        <p>
            @Html.ActionLink("View Details »", "Index", "Brewer", null, new { @class = "btn" })
        </p>
    </div>
</div>
